<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Customer List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary">Add New Customer</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Customer Id</td>
                <td>Customer Name</td>
                <td>Promblem</td>
                <td>Payment Status</td>
                <td>Work Status</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in ViewBag.CustomerListWithIssue)
            {
                <tr>
                    <td>@obj.CustomerId</td>
                    <td>@obj.CustomerName</td>
                    <td>@obj.Problem</td>
                    <td>@obj.PaymentStatus</td>
                    <td>@obj.WorkStatus</td>
                </tr>
            }
        </tbody>
    </table>
</div>